@import "slide.less";
@header-color: #0099CC;
@content-width: 900px;
@footer-color: #999999;
@main-font: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;


html, body {
   margin:0;
   padding:0;
   height:100%;
   position: relative;
}

.ember-view {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   position:relative;
}

.ember-application {
  margin: 0px;
  height: 100%;
  //background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background:#eeebeb;
  //.stripes;
  //.horizontal;
}

.stripes {
height: 250px;
width: 375px;
//float: left;
margin: 10px;
-webkit-background-size: 50px 50px;
-moz-background-size: 50px 50px;
background-size: 50px 50px;
-moz-box-shadow: 1px 1px 8px gray;
-webkit-box-shadow: 1px 1px 8px gray;
box-shadow: 1px 1px 8px gray;
}

.horizontal {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.top {
  height:155px;
  background-color: @header-color;
  overflow: hidden;
}

.header-container {
  width:@content-width;
  margin: 0 auto;
}

.contents {
  //min-height: 550px;
  overflow:hidden;
  height:100%;
}

.contents-second-pane {
  background: #FFFFCC;
  overflow:hidden;
  border-top: 5px solid white;
}

.contents-container {
  width: @content-width;
  margin: 0 auto;
  background-color:transparent;
}

.footer-container {
  background-color: @footer-color;
  height:20px;
  overflow:hidden;
  position:absolute;
  bottom:0;
  width:100%;
}

.nav-list li{
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}

.nav-link-button {
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: @footer-color;
  border: 1px solid #aaa;
  color: White;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  text-decoration: none;
  .text(20px);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#999999));
  border-color: #333333;
  border-top:1px solid #eeeeee;
}

.nav-list .active{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(#666666));
  border-color: #333333;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #eeeeee;
 }

.buy-container {
  overflow:hidden;
  margin: 0 auto;
}

.buy-level {
  overflow:hidden;
}

.buy-holder {
  float:left;
  margin-right:25px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text(@size) {
  font-size: @size;
  font-family: "Raleway","Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
}

h2 {
  .text(35px);
  margin: 10px;
}

h3 {
  .text(25px);
}

p {
  .text(20px);
  margin:10px;
}

.how-it-works-text-container {

}

.use-case-list {
  padding-left:150px;
}

.one-two-three-container {
  background-color: #FFFFCC;
}

.how-it-works-num-container {
  overflow:hidden;
  margin-bottom: 25px;
  margin-top: 25px;
}

.one, .three {
  float:left;
  text-align:left;
}

.two {
  float:right;
  text-align:right;
}

.how-it-works-description {
  width:400px;
}

.how-it-works-num {
}

#slides {
  display:none;
}