#slides {
  display: none;
  position: relative;
  overflow-x: visible;
}
.container {
  width: 740px;
  margin: 0 auto;
}
#slides .slidesjs-navigation {
  margin-top: 3px;
}
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}
#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}
.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(/static/img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}
.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}
#slides a:link,
#slides a:visited {
  color: #333333;
}
#slides a:hover,
#slides a:active {
  color: #9e2020;
}
.navbar {
  overflow: hidden;
}
.slidejs-control {
  float: left;
}
#slides .slidesjs-previous {
  position: absolute;
  top: 45%;
  left: -10%;
  z-index: 999;
}
#slides .slidesjs-previous :hover {
  background-color: #d7cfcf;
}
#slides .slidesjs-next {
  position: absolute;
  top: 45%;
  right: -10%;
  z-index: 999;
}
#slides .slidesjs-next :hover {
  background-color: #d7cfcf;
}
html {
  overflow-y: scroll;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -35px;
  /* Pad bottom by footer height */
  padding: 0 0 35px;
}
.ember-application > .ember-view {
  height: calc(100% - 35px);
}
.ember-application {
  margin: 0px;
  height: 100%;
  background: #eeebeb;
}
.top {
  background-color: #0099cc;
  overflow: visible;
}
.header-container {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.login-button {
  font-size: 38.75px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  padding: 19.375px;
  background-color: #5f5050;
  color: white;
  float: right;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.login-button:hover {
  background-color: #514444;
}
.email,
.password {
  width: 90%;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.ocho-id {
  width: 50%;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 40px;
}
.login-form {
  width: 80%;
  padding: 10%;
  background-color: #5f5050;
  overflow: hidden;
}
.login-container {
  width: 500px;
  margin: 0 auto;
}
.contents {
  overflow: hidden;
  height: 100%;
}
.pane-one {
  background: #eeebeb;
}
.pane-two {
  background: #68217a;
  padding: 30px;
  color: white;
}
.pane-three {
  background: #eeebeb;
  overflow: hidden;
  padding: 30px;
}
.contents-container {
  width: 900px;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
}
.footer-container {
  background-color: #999999;
  padding-top: calc(.25 * 35px);
  padding-bottom: calc(.25 * 35px);
  overflow: hidden;
  font-size: calc(.4 * 35px);
  height: calc(.5 * 35px);
}
.footer-item {
  float: right;
  margin-left: 20px;
}
.footer-item a {
  color: #646464;
  font-size: 15px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
}
.footer-item a:hover {
  text-decoration: underline;
}
.footer-item a:active {
  font-weight: bold;
}
.nav-list {
  overflow: hidden;
  margin-left: 20px;
}
.nav-list-container {
  overflow: hidden;
  float: left;
}
.nav-bar {
  background-color: #68217a;
  margin-bottom: 20px;
}
.active .nav-link-button {
  background-color: #eeebeb;
  color: Black;
}
.nav-link-button {
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  width: 130px;
  float: left;
  padding: 15px;
  color: White;
}
.nav-link-button:hover {
  background-color: #79268e;
}
.active .nav-link-button:hover {
  background-color: #e2dddd;
}
.quick-link-button {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a1d6), to(#0091c2));
  -webkit-border-radius: 15px;
  -webkit-user-select: none;
  border: 1px solid #aaa;
  color: White;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #333333;
  cursor: pointer;
  text-align: center;
  width: 130px;
}
.quick-link-button:hover {
  -moz-box-shadow: 0 0 15px #0099cc;
  -webkit-box-shadow: 0 0 15px #0099cc;
  box-shadow: 0 0 15px #0099cc;
}
.quick-link-button:active {
  background: #0086b3;
}
.quick-link-container {
  margin-top: 15px;
  margin-left: 50px;
}
.quick-link-button.submit-login {
  float: right;
}
.btn {
  -webkit-border-radius: 15px;
  -webkit-user-select: none;
  border: 1px solid #aaa;
  color: White;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #333333;
  cursor: pointer;
  text-align: center;
}
.ok {
  -webkit-border-radius: 15px;
  -webkit-user-select: none;
  border: 1px solid #aaa;
  color: White;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #333333;
  cursor: pointer;
  text-align: center;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008a00), to(#007600));
}
.ok:hover {
  -moz-box-shadow: 0 0 15px #008000;
  -webkit-box-shadow: 0 0 15px #008000;
  box-shadow: 0 0 15px #008000;
}
.nav-link-button:active {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(#666666));
}
a {
  text-decoration: none;
  text-align: center;
}
.buy-container {
  overflow: hidden;
  margin: 0 auto;
}
.buy-level {
  overflow: hidden;
}
.buy-holder {
  float: left;
  margin-right: 25px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 35px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  margin: 10px;
}
h3 {
  font-size: 25px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
}
p {
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  margin: 10px;
}
.use-case-list {
  padding-left: 150px;
}
.how-it-works-num-container {
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: 25px;
}
.one,
.three {
  float: left;
  text-align: left;
}
.two {
  float: right;
  text-align: right;
}
.how-it-works-description {
  width: 400px;
}
#slides {
  display: none;
}
.highlight {
  float: left;
  margin: .5%;
  padding: 15px;
  border: 2px solid black;
  width: 28%;
  height: 80px;
  background-color: #e2dddd;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  box-shadow: 0 0 5px #a59f9f;
}
.highlights-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  overflow: hidden;
}
.events-buttons-container {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.quick-link-button.event-button {
  width: 250px;
  margin: 10px;
}
.events-table-container {
  margin: 30px;
}
.table-row {
  background-color: lightgreen;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  padding: 10px;
  margin: 2px;
  overflow: hidden;
  min-height: 25px;
}
.table-data {
  float: left;
}
.event-col-1 {
  width: 8%;
  padding: 1px;
}
.event-col-2 {
  width: 25%;
  font-weight: bold;
}
.event-col-3 {
  width: 50%;
  color: gray;
}
.event-col-4 {
  width: 10%;
  margin-left: 50px;
}
.event-col-5 {
  width: 6%;
}
.event-active {
  font-weight: bold;
  color: #008000;
}
.event-inactive {
  color: gray;
  font-style: italic;
}
.del-button {
  cursor: pointer;
  display: none;
}
.device-col-1 {
  width: 20%;
}
.device-col-2 {
  width: 60%;
}
.device-col-3 {
  width: 20%;
  color: gray;
  cursor: pointer;
  display: none;
}
.device-col-3:hover {
  text-decoration: underline;
}
.devices-table-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
.panel {
  background-color: #c8cbe7;
  border: solid 1px gray;
  text-align: center;
  padding: 30px;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}
.ok-container {
  margin-top: 30px;
}
.cancel {
  color: #505050;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  cursor: pointer;
  margin-right: 20px;
  padding-top: 5px;
}
.cancel:hover {
  text-decoration: underline;
}
.error-message {
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  color: red;
}
.rename-input-container {
  display: none;
  overflow: hidden;
}
.rename-input {
  width: 240px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.device-rename-ok,
.device-rename-cancel {
  cursor: pointer;
  font-size: 20px;
  font-family: "Raleway", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-weight: normal;
  float: right;
  color: gray;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.new-name-container {
  float: left;
  overflow: hidden;
}
.quick-link-button.add-ocho-button {
  margin: 0 auto;
  width: 250px;
}
.quick-link-button.create-rule {
  margin: 0 auto;
  width: 250px;
}
