<!DOCTYPE html
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/png"
      href="/static/img/favicon.png">
<meta charset="utf-8">
<title>Ocho</title>
<link rel="stylesheet" href="/static/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <script src="/static/js/libs/jquery-1.10.2.js"></script>
  <script src="/static/js/libs/handlebars-v1.1.2.js"></script>
  <script src="/static/js/libs/ember-1.2.0.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/libs/jquery.slides.js"></script>
</head>
<body>
{% verbatim handlebars %}
  <script type="text/x-handlebars">
    <div class="top">
        <div class="header-container">
            <a href="/#/"><img src="/static/img/ocho-logo.png"></a>
        </div>
    </div>

    <div class="contents-container">
        <div class="nav-list">
            <div class="nav-list-container"><a href="/#/"><div class="nav-link-button">About Ocho</div></a></div>
            <div class="nav-list-container"><a href="/#/how-it-works"><div class="nav-link-button">How it Works</div></a></div>
            <div class="nav-list-container"><a href="/#/buy-an-ocho"><div class="nav-link-button">Buy an Ocho</div></a></div>
        </div>
    </div>

    {{outlet}}

    <div class="footer-container"></div>
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <div>{{#view App.IndexView}}{{/view}}</div>
    <div class="contents">
    <div class="contents-container">
        <div class="container">
        <div id="slides">
            <img src="/static/img/slide1.png">
            <img src="/static/img/slide1.png">
            <img src="/static/img/slide1.png">
            <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/static/img/left-arrow.png"></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/static/img/right-arrow.png"></a>
        </div>
        </div>

        <div class="highlights-container">
            <div class="highlight">
                Want one?
                <div class="quick-link-container"><a href="/#/buy-an-ocho"><div class="quick-link-button">Buy an Ocho</div></a></div>
             </div>
            <div class="highlight">Have a new Ocho?
            <div class="quick-link-container"><a href="/#/buy-an-ocho"><div class="quick-link-button">Register Here</div></a></div>
            </div>
            <div class="highlight">
            Ready to start?
            <div class="quick-link-container"><a href="/#/buy-an-ocho"><div class="quick-link-button">Log In</div></a></div>
            </div>
        </div>
    </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="how-it-works">
  <div class="contents">
  <div class="contents-container">
      <div class="graphic-container"><img src="/static/img/how-it-works-graphic.png"></div>

      <div class="how-it-works-text-container">
          <h2>Ocho Lets You Know<h2>
              <div class="use-case-list">
              <p>...when your keys or wallet aren't where they should be</p>
              <p>...when your cellphone isn't plugged in</p>
              <p>...when your partner is running late</p>
              <p>...and much more!</p>
              </div>
      </div>
  </div>
  </div>

  <div class="contents-second-pane">
  <div class="contents-container">
  <div class="one-two-three-container">
  <div class="how-it-works-num-container">
      <img src="/static/img/how-it-works-1.png" class="how-it-works-num one">
      <div class="how-it-works-description one">
            <h2>Get an Account.</h2>
            <p>You'll just need an email and a password.  We won't spam you.<p>
      </div>
  </div>
  <div class="how-it-works-num-container">
      <img src="/static/img/how-it-works-2.png" class="how-it-works-num two">
      <div class="how-it-works-description two">
            <h2>Get Ocho Connected.</h2>
            <p>Plug in Ocho and it will learn to connect to your Wi-Fi.<p>
      </div>
  </div>
  <div class="how-it-works-num-container" style="margin-left:150px;">
      <img src="/static/img/how-it-works-3.png" class="how-it-works-num three">
      <div class="how-it-works-description three">
            <h2>Get your sh*t together.</h2>
            <p>Set up Ocho to keep your stuff where it belongs, to keep your partner in the loop, and to quantify your life.<p>
      </div>
  </div>
  </div>
  </div>
  </div>
  </script>

  <script type="text/x-handlebars" data-template-name="buy-an-ocho">
  <div class="contents">
  <div class="contents-container">
  <div>
        <h2>Thanks for your interest!</h2>
        <h3>You can buy an Ocho from one of our certified retailers:</h3>
  </div>
  <div class="buy-container">
      <div class="buy-level">
        <div class="buy-holder"><a href="http://www.amazon.com"><img src="/static/img/amazon.png"></a></div>
        <div class="buy-holder"><a href="http://www.kickstarter.com"><img src="/static/img/kickstarter.png"></a></div>
      </div>
      <div class="buy-level">
        <div class="buy-holder"><a href="http://www.groupon.com"><img src="/static/img/groupon.png"></a></div>
        <div class="buy-holder"><a href="http://www.bestbuy.com"><img src="/static/img/best buy.png"></a></div>
      </div>
  </div>
  </div>
  </div>
  </script>
{% endverbatim handlebars %}

</body>
</html>
