<!DOCTYPE html
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/png"
      href="/static/img/favicon.png">
<meta charset="utf-8">
<title>Ocho</title>
<link rel="stylesheet" href="/static/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <script src="/static/js/libs/jquery-1.10.2.js"></script>
  <script src="/static/js/libs/handlebars-v1.1.2.js"></script>
  <script src="/static/js/libs/ember-1.2.0.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/libs/jquery.slides.js"></script>
  <script src="/static/js/libs/Chart.js"></script>
</head>
<body>
{% verbatim handlebars %}

  <script type = "text/x-handlebars" data-template-name="site">
   <div class="wrapper">
    <div class="top">
        <div class="header-container">
            <a href="/#/"><img src="/static/img/ocho-logo.png"></a>
            <div id="login" class="login-button">Login<span>▼</span></div>
            <div id="login-form" class="login-form">
                {{input type="text" value=email placeholder="email" size="50" class="email"}}
                {{input type="password" value=password placeholder="password" size="50" class="password"}}
                <div class="quick-link-button submit-login" id="sign-in">Sign In</div>
        </div>
        </div>
    </div>



    {{outlet}}
    </div>
    <div class="footer-container">
    <div class="contents-container">
        <div class="footer-item">{{#link-to 'public.contact-us'}}Contact Us{{/link-to}}</div>
        <div class="footer-item">{{#link-to 'public.privacy-policy'}}Privacy Policy{{/link-to}}</div>
    </div>
    </div>
  </script>
  <script type="text/x-handlebars" data-template-name="public">
    <div class="nav-bar">
        <div class="contents-container">
            <div class="nav-list">
                <div class="nav-list-container">{{#link-to 'public.index'}}<div class="nav-link-button">About Ocho</div>{{/link-to}}</div>
                <div class="nav-list-container">{{#link-to 'public.how-it-works'}}<div class="nav-link-button">How it Works</div>{{/link-to}}</div>
                <div class="nav-list-container">{{#link-to 'public.buy-an-ocho'}}<div class="nav-link-button">Buy an Ocho</div>{{/link-to}}</div>
            </div>
        </div>
    </div>

    {{outlet}}

  </script>

  <script type="text/x-handlebars" data-template-name="public/index">
    <div>{{#view App.IndexView}}{{/view}}</div>
    <div class="contents">
    <div class="contents-container">
        <div class="container">
        <div id="slides">
            <img src="/static/img/slide1.png">
            <img src="/static/img/slide1.png">
            <img src="/static/img/slide1.png">
            <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/static/img/left-arrow.png"></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/static/img/right-arrow.png"></a>
        </div>
        </div>

        <div class="highlights-container">
            <div class="highlight">
                Want one?
                <div class="quick-link-container"><a href="/#/buy-an-ocho"><div class="quick-link-button">Buy an Ocho</div></a></div>
             </div>
            <div class="highlight">Have a new Ocho?
            <div class="quick-link-container"><a href="/#/buy-an-ocho"><div class="quick-link-button">Register Here</div></a></div>
            </div>
            <div class="highlight">
            Ready to start?
            <div class="quick-link-container"><a href="/#/buy-an-ocho"><div class="quick-link-button">Log In</div></a></div>
            </div>
        </div>
    </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="public/how-it-works">
  <div class="contents">
  <div class="contents-container">
      <div class="graphic-container"><img src="/static/img/how-it-works-graphic.png"></div>

      <div class="how-it-works-text-container">
          <h2>Ocho Lets You Know<h2>
              <div class="use-case-list">
              <p>...when your keys or wallet aren't where they should be</p>
              <p>...when your cellphone isn't plugged in</p>
              <p>...when your partner is running late</p>
              <p>...and much more!</p>
              </div>
      </div>
  </div>
  </div>

  <div class="contents-second-pane">
  <div class="contents-container">
  <div class="one-two-three-container">
  <div class="how-it-works-num-container">
      <img src="/static/img/how-it-works-1.png" class="how-it-works-num one">
      <div class="how-it-works-description one">
            <h2>Get an Account.</h2>
            <p>You'll just need an email and a password.  We won't spam you.<p>
      </div>
  </div>
  <div class="how-it-works-num-container">
      <img src="/static/img/how-it-works-2.png" class="how-it-works-num two">
      <div class="how-it-works-description two">
            <h2>Get Ocho Connected.</h2>
            <p>Plug in Ocho and it will learn to connect to your Wi-Fi.<p>
      </div>
  </div>
  <div class="how-it-works-num-container" style="margin-left:150px;">
      <img src="/static/img/how-it-works-3.png" class="how-it-works-num three">
      <div class="how-it-works-description three">
            <h2>Get your sh*t together.</h2>
            <p>Set up Ocho to keep your stuff where it belongs, to keep your partner in the loop, and to quantify your life.<p>
      </div>
  </div>
  </div>
  </div>
  </div>
  </script>

  <script type="text/x-handlebars" data-template-name="public/buy-an-ocho">
  <div class="contents">
  <div class="contents-container">
  <div>
        <h2>Thanks for your interest!</h2>
        <h3>You can buy an Ocho from one of our certified retailers:</h3>
  </div>
  <div class="buy-container">
      <div class="buy-level">
        <div class="buy-holder"><a href="http://www.amazon.com"><img src="/static/img/amazon.png"></a></div>
        <div class="buy-holder"><a href="http://www.kickstarter.com"><img src="/static/img/kickstarter.png"></a></div>
      </div>
      <div class="buy-level">
        <div class="buy-holder"><a href="http://www.groupon.com"><img src="/static/img/groupon.png"></a></div>
        <div class="buy-holder"><a href="http://www.bestbuy.com"><img src="/static/img/best buy.png"></a></div>
      </div>
  </div>
  </div>
  </div>
  </script>

  <script type="text/x-handlebars" data-template-name="public/privacy-policy">
  <div class="contents">
      <div class="contents-container">
          <div>
                <h2>Privacy Policy</h2>
                <h3>We do not yet have a formal privacy policy.  Coming soon!</h3>
          </div>
       </div>
   </div>
  </script>

  <script type="text/x-handlebars" data-template-name="public/contact-us">
  <div class="contents">
      <div class="contents-container">
          <div>
                <h2>Contact Us</h2>
                <h3>Thanks for your interest!</h3>
                <p>Webmaster: <a href="mailto:web@ochopad.com?subject=Inquiry">web@ochopad.com</a></p>
                <p>General Inquiries: <a href="mailto:info@ochopad.com?subject=Inquiry">info@ochopad.com</a></p>
          </div>
       </div>
   </div>
  </script>

  <script type="text/x-handlebars" data-template-name="portal">
    <div class="nav-bar">
        <div class="contents-container">
            <div class="nav-list">
                <div class="nav-list-container">{{#link-to 'portal.index'}}<div class="nav-link-button">Dashboard</div>{{/link-to}}</div>
                <div class="nav-list-container">{{#link-to 'portal.events'}}<div class="nav-link-button">Events</div>{{/link-to}}</div>
                <div class="nav-list-container">{{#link-to 'portal.devices'}}<div class="nav-link-button">Devices</div>{{/link-to}}</div>
            </div>
        </div>
    </div>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="portal/index">
  <div class="contents">
      <div class="contents-container">
          <div>
                <h2>Dashboard</h2>
                <canvas id="canvas" height="450" width="850"></canvas>
          </div>
       </div>
   </div>
  </script>

  <script type="text/x-handlebars" data-template-name="portal/events">
  <div class="contents">
      <div class="contents-container">
          <div>
                <h2>Events</h2>
                <div class="events-buttons-container">
                        <div class="quick-link-button event-button float-left" id="create-scheduled-event">Create Scheduled Event</div>
                        <div class="quick-link-button event-button float-right" id="create-touch-event">Create Touch Event</div>
                </div>
                <div class="events-table-container">
                {{#each event in model.events}}
                <div class="table-row" data-id="{{unbound event.id}}">
                    <div class="table-data event-col-1">
                        {{#if event.isScheduled}} sch
                        {{else}} tch {{/if}}
                    </div>
                    <div class="table-data event-col-2">
                        {{event.name}}
                    </div>
                    <div class="table-data event-col-3">
                        {{event.description}}
                    </div>
                    <div class="table-data event-col-4">
                        {{#if event.active}} <span class="event-active">Active</span>
                        {{else}} <span class="event-inactive">Inactive</span>
                        {{/if}}
                    </div>
                    <div class="table-data event-col-5">
                        <div class="del-button del-event-{{unbound event.id}}" data-id="{{unbound event.id}}"><img src="/static/img/red-x.png"></div>
                    </div>
                </div>
                {{/each}}
                </div>
          </div>
       </div>
   </div>
  </script>

  <script type="text/x-handlebars" data-template-name="portal/devices">
 <div class="contents">
      <div class="contents-container">
          <div>
                <h2>Devices</h2>
                <div class="events-buttons-container">
                        <div class="quick-link-button event-button float-left" id="add-ocho">Add Ocho</div>
                        <div class="quick-link-button event-button float-right" id="add-tag">Add Tag</div>
                </div>
                <div class="devices-table-container">
                {{#each device in model.devices}}
                <div class="table-row" data-id="{{unbound device.id}}">
                    <div class="table-data device-col-1">
                        {{device.type}}
                    </div>
                    <div class="table-data device-col-2">
                        {{device.name}}
                    </div>
                    <div class="table-data device-col-3 rename-device-{{unbound device.id}}" data-id="{{unbound device.id}}">
                        rename
                    </div>
                </div>
                {{/each}}
                </div>
          </div>
       </div>
   </div>
  </script>

{% endverbatim handlebars %}

</body>
</html>
